/*this stylesheet is for right-to-left languages*/
body {
  direction: rtl;
  unicode-bidi: embed;
}
.post-edit-link {
  float: left;
}
.newerposts {
  float: left;
}
.olderposts {
  float: right;
}
blockquote {
    border-right: 6px #e2e2e2 solid;
    border-left:none;
    padding-right: 10px;
    padding-left: 0px;
}
