/*Main style of the theme is defined here*/

@charset "UTF-8";

/*
Theme Name: Raha
Theme URI: http://Poriya.ir
Author: PoriyaMH
Author URI: http://poriya.ir
Description: Raha fouces on regulation & standardization. So good news! everything will be controled using the standard wordpress setting sections instead of a custom setting page. it is ready to turn your Wordpress blog into a different, but awesome experience! 
Version: 0.2 Beta 2
License: General Public License v3.0 GPLv3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: raha
*/

body {
    font-family: "parastoo", 'tahoma', arial;
    background-color: #ffffff;
    margin: 0;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.25em;
}
p {
    font-size: 0.875em;
}
a {
    color: #0091ed;
    text-decoration: none;
}
a:hover {
    color: #004eb6;
}
a:active {
    color: #6f1401;
}
blockquote {
    border-left: 6px #e2e2e2 solid;
    padding-left: 10px;
}
hr {
    width: 200px;
    border: solid 2px #d2d1d1;
    margin: 2em auto;
}
li {
    margin:0.6em 0;
}
code {
    background-color: #d1d1d1;
    border-radius: 5px;
    padding: 3px;
    direction: ltr;
    unicode-bidi: bidi-override;
    text-align: left;
}
/*add the fonts*/

@font-face {
    font-family: parastoo;
    src: url('fonts/parastoo.ttf') format('truetype'), url('fonts/parastoo.ttf') format('opentype');
    /*add parastoo*/
}
#header {
    height: 200px;
    background-color: #512C4C;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    -moz-box-shadow: inset 0px -60px 100px #000000;
    -webkit-box-shadow: inset 0px -60px 100px #000000;
    box-shadow: inset 0px -60px 100px #000000;
}

#header-no-image {
    height: 200px;
    margin-bottom: 30px;
}
#header #logotype a, #header #logotype {
    font-family: "parastoo", tahoma;
    color: white;
    font-size: 1.9em;
    text-shadow: 1px 1px 4px black;
    margin: 0 auto;
    display: table;
    padding: 10px 0 0 0;
    text-decoration: none;
}

#header-no-image #logotype a, #header-no-image #logotype {
    font-family: "parastoo", tahoma;
    color: black;
    font-size: 1.9em;
    margin: 0 auto;
    display: table;
    padding: 10px 0 0 0;
    text-decoration: none;
}

#description, #description-no-image {
    display: table;
    margin: 0 auto;
}
#description {
    color: white;
    text-shadow: 1px 1px 4px black;
}

#description-no-image {
    color: black;
}
.header-nav-container ul {
    list-style-type: none;
    margin: 20px auto 0 auto;
    padding-right: 0;
    display: table;
}
.header-nav-container ul li {
    display: inline-block;
    margin-left: 1.2em;
}
.header-nav-container a {
    color: white;
    text-decoration: none;
}
.header-nav-container a:hover {
    opacity: 0.8;
}
.header-no-image-nav-container a {
    color: black;
}
.header-no-image-nav-container a:hover {
    opacity: 1;
    border-bottom: 1px solid black;
}
.header-no-image-nav-container ul {
    margin :10px auto 0 auto;
}
.container {
    width: 700px;
    margin: 0 auto !important;
}
.container article.post {
    margin-bottom: 6em;
}
.container article.page {
    margin-bottom: 6em;
}
.container small {
    display: inline-block;
    margin: 0 2px;
}
.post-quote {
    font-size: 1.8em;
    font-weight: 600;
    margin: 0;
    border: none;
    text-align: center;
}
.post-quote p {
    display: inline-block;
    margin: 0 5px;
}
span.cite {
    float: left;
    margin: 0 10px;
    font-weight: bold;
    opacity: 0.8;
    color: black;
}
.post-quote .fa-quote-right {
    float: right;
}
.post-quote .fa-quote-left {
    float: left;
}
.post-edit-link {
    margin-right: auto;
    float: right;
    padding: 2px 5px;
    border: 1px black solid;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    opacity: 0;
}
.container article.page:hover .post-edit-link,.container article.post:hover .post-edit-link {
    opacity: 1;
}
.post-edit-link:hover {
    opacity: 0.8;
}
.post-date {
    float: right;
}
h2.post-title a, h2.post-title {
    font-family: "parastoo", tahoma;
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    color: black;
}
h2.post-title a:hover {
    transition: 0.5s;
    color: rgb(29, 0, 32);
}
.container .wp-post-image {
    margin: 0.5em auto;
    border-radius: 8px;
    display: block;
}
.container img {
    margin: 0 auto;
    border-radius: 8px;
    display: block;
    max-width: 700px;
}
.container p {
    line-height: 2em;
    font-size: 1em;
    font-weight: lighter;
}
a.more-link {
    margin: 0 auto;
    display: table;
}
.status-date {
    margin: 0;
    font-weight: 600;
    color: #1b1b1b;
}

/*this stops displaying tags on single posts*/

.tags-block {
    display: none !important;
}
.status-content p {
    margin: 0;
    text-align: right;
    font-size: 1.2em;
}
.post-navigation {
    background-color: #f9f5f5;
    border-top: 1px solid #cfcfcf;
    padding: 1.6em;
}
.post-navigation .olderposts {
    float: left; 
}
.post-navigation .newerposts {
    float: right;
}
#site-footer {
    background-color: #302A27;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#site-footer a {
    color: #cccccc;
    font-size: 0.9em;
}
#site-footer a:hover {
    transition: 0.4s;
    color: white;
}
#sidebars {
    width: 810;
    margin: 0 auto !important;
    display: table;
}
.widget-container {
    float: right;
    width: 270px;
    list-style-type: none;
    text-align: center;
    min-height: 250px;
}
.widget-container ul {
    padding-right: 0;
}
.widget-container li {
    list-style-type: none;
    margin-top: 5px;
}
.widget-container li a {
    color: #cccccc;
    font-size: 0.9em;
}
.widget-container li a:hover {
    transition: 0.4s;
    color: white;
}
.social-icons {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 1.2rem;
    left: 2px;
    z-index: 100;
}
.fa-twitter {
    color: white;
}
.fa-circle-twitter {
    font-size: 1.4em;
    color: #55acee;
}
.fa-medium {
    color: white;
    font-size: 0.9em;
}
.fa-circle-medium {
    color: black;
    font-size: 1.4em;
}
.fa-github, .fa-github a {
    font-size: 1.3em;
    color: black;
}
.fa-circle-email {
    color: #6667e7;
    font-size: 1.4em;
}
.fa-stack .fa-envelope, .fa-stack .fa-envelope a {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}
.fa-stack .fa-linkedin {
    color: #ffffff;
    font-size: 0.8em;
}
.fa-circle-linkedin {
    font-size: 1.4em;
    color: #1B86BC;
}
.fa-stack .fa-paper-plane {
    color: white;
    font-size: 0.7em;
}
.fa-circle-telegram {
    font-size: 1.4em;
    color: #0792f6;
}
a .fa-stack:hover {
    opacity: 0.8 !important;
}
#footer-copyright {
    margin-top: 1em;
}

/*comments section*/

img.avatar {
    margin-left: 15px;
    width: 70px;
    float: right;
    height: 70px;
}
ol.commentlist {
    margin: 15px auto;
    list-style: none;
    padding-top: 5px;
    display: block;
    clear: both;
}
ol.commentlist img {
    border: none;
    border-radius: 0;
    padding: 0;
}
ol.commentlist a {
    color: #bbb;
    text-decoration: none;
    font-style: none;
}
ol.commentlist li {
    font-size: 14px;
    background-color: #fff;
    padding: 11px;
    padding-right: 15px;
    margin-top: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    width: 625px;
}
ol.commentlist li li {
    width: 570px;
    background: #fff;
}
ol.commentlist li p {
    width: 80%;
    font-size: 14px;
    margin-right: 80px;
}
ol.commentlist li a {
    color: #888;
    font-size: 14px;
}
#respond {
    background: #f4f1f1;
    padding: 0 5px 0 5px;
}

/* Highlight active form field */

#respond input[type=text] {
    width: 200px;
}
#respond input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
#respond input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}
#author {
    font-size: 16px;
    color: #1d1d1d;
}
#url {
    color: #21759b;
}
#submit {
    color: #ffffff;
    font-family: "parastoo", tahoma;
    margin: 20px;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    background-color: #005c83;
    border-radius: 5px;
}
#submit:hover {
    opacity: 0.8;
}
